body, html {
  min-height: 100%;
}

.App {
  justify-content: center;
  min-height: 100vh;
}

#main-content {
  background-color: #fafafa;
  min-height: 100vh;
  max-width: 100%;
  padding-top: 100px;
}

#hello {
  color: grey;
}

#custom-validation-placeholder {
  color: grey;
}

#custom-validation-placeholder.is-invalid {
  background-image: none;
}

#custom-validation.is-invalid {
  background-image: none;
}

#custom-outline-btn {
  color: #135BB4;
  background-color: transparent;
  border-color: #135BB4;
}

#custom-outline-btn:hover {
  background-color: transparent;
}

.custom-width {
  width: 40%;
}

@media (max-width: 768px) {
  .custom-width {
    width: 100%;
  }
}