body, html {
  min-height: 100%;
}

.App {
  justify-content: center;
  min-height: 100vh;
}

#main-content {
  background-color: #fafafa;
  min-height: 100vh;
  max-width: 100%;
  padding-top: 100px;
}

#custom-validation.is-invalid {
  background-image: none;
}

.errorText {
  color: red;
}