@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.nav {
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 2px 2px 0 rgba(62, 62, 62, 0.2);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: white;
  padding-top: 4px;
}

.nav :first-child {
  margin-left: 1px;
}

.nav a {
  color: #135BB4;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  margin-left: 20px;
  text-align: center;
}

.nav-link {
  color: #135BB4;
  margin-right: 10px;
}

.nav-link:hover {
  text-decoration:none;
  background-color: #ffffff;
  border-bottom: 3px solid #135BB4;
  color: #135BB4;
}
.nav-link.current {
  border-bottom: 3px solid #135BB4;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .nav {
    font-size: 1.1rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-link {
    padding: 20px 20px;
  }

}